In [11]:
import numpy as np
import pandas as pd
from pyBKT.models import Model
import matplotlib.pyplot as plt

In [5]:
ct=pd.read_csv('ct.csv').drop('Unnamed: 0',axis=1)

In [106]:
df=pd.read_pickle('appmath.pkl')

In [107]:
for col in df.columns:
    if df[col].dtype.name=='category':
        df[col]=df[col].astype(str)

In [108]:
df2=pd.read_csv('prereq_edges.csv')

In [129]:
ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16857 entries, 0 to 16856
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Row                          16857 non-null  int64
 1   Anon Student Id              16857 non-null  object
 2   Problem Hierarchy            16857 non-null  object
 3   Problem Name                 16857 non-null  object
 4   Problem View                 16857 non-null  int64
 5   Step Name                    16857 non-null  object
 6   Step Start Time              16851 non-null  object
 7   First Transaction Time       16857 non-null  object
 8   Correct Transaction Time     16711 non-null  object
 9   Step End Time                16857 non-null  object
 10  Step Duration (sec)          16851 non-null  float64
 11  Correct Step Duration (sec)  10437 non-null  float64
 12  Error Step Duration (sec)    6414 non-null   float64
 13  Correct First Attempt        16857 non-null  int64
 14  Incorrects                   16857 non-null  int64
 15  Hints                        16857 non-null  int64
 16  Corrects                     16857 non-null  int64
 17  KC(Default)                  16857 non-null  object
 18  Opportunity(Default)         16857 non-null  int64
dtypes: float64(3), int64(7), object(9)
memory usage: 2.4+ MB

In [111]:
df=df[['learning_objective_name','user_id','goal_id','interaction_end_time','atom_id','correct']]

In [112]:
dfr=df.rename(columns={'learning_objective_name':'KC(Default)','atom_id':'Problem Name'})

In [113]:
dfr[dfr['goal_id']=='ffa158f6-17d6-4919-ae9a-544f7029114d']

,KC(Default),user_id,goal_id,interaction_end_time,Problem Name,correct
1059733,"Solve equations in one variable algebraically,...",00bc4ffd-824f-44be-a2a4-00c226379f1c,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 19:08:54.766,55b3d430-93d7-4b27-8250-62c3702a616a,True
2979563,"Identify identity, conditional, and inconsiste...",00bc4ffd-824f-44be-a2a4-00c226379f1c,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 19:18:30.879,e2ff2fa9-3212-4062-9ff9-80a26d59e9b7,True
1444646,"Solve equations in one variable algebraically,...",00bc4ffd-824f-44be-a2a4-00c226379f1c,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 19:18:31.215,ffe7fcd4-cbdd-406c-8caa-94e687198a98,None
1883882,"Solve equations in one variable algebraically,...",00bc4ffd-824f-44be-a2a4-00c226379f1c,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 19:25:01.019,46dfc968-d916-466b-a5e2-c8591ecd5cfe,None
2193650,"Solve equations in one variable algebraically,...",00bc4ffd-824f-44be-a2a4-00c226379f1c,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 19:33:40.660,ab195ddf-18eb-4146-a491-12e1ecc76fc0,True
...,...,...,...,...,...,...
1029942,"Identify identity, conditional, and inconsiste...",f4a1ad07-b43d-4682-ac9b-b2919c8b145d,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 17:35:16.162,bd27b05c-b70a-4e9a-8ecc-c00aaa9fe05d,True
2566490,"Identify identity, conditional, and inconsiste...",f4a1ad07-b43d-4682-ac9b-b2919c8b145d,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 17:36:05.103,c2643fc1-b4d1-40af-acad-70fad831ec0a,True
2182802,"Solve equations in one variable algebraically,...",f4a1ad07-b43d-4682-ac9b-b2919c8b145d,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 17:39:32.481,9a7e5f13-fc1e-4fe1-9950-4e4a9ef2d700,True
2950125,"Solve equations in one variable algebraically,...",f4a1ad07-b43d-4682-ac9b-b2919c8b145d,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 17:43:02.496,3d98fa83-6209-401d-9bc6-aa3ca8853253,True
1518473,"Solve equations in one variable algebraically,...",f4a1ad07-b43d-4682-ac9b-b2919c8b145d,ffa158f6-17d6-4919-ae9a-544f7029114d,2022-09-01 17:43:34.787,6df5da50-f8e6-40a9-aa31-c07dd3a97ec1,None

In [114]:
dfr.columns

Index(['KC(Default)', 'user_id', 'goal_id', 'interaction_end_time',
       'Problem Name', 'correct'],
      dtype='object')

In [115]:
dfr.groupby('goal_id')['KC(Default)'].nunique()

goal_id
000753a4-6eb5-45cc-9bdc-2aa620a43da0    2
00107445-628e-4695-a89f-1484f179ce34    1
00188ecf-0f17-4fff-ac07-c62955764226    4
0025f079-a09c-4e0f-9d24-1042e1ed29fe    1
0027b0eb-2b8e-40c2-ab1e-263f5f520947    5
                                       ..
ffa158f6-17d6-4919-ae9a-544f7029114d    7
ffb3ce9c-b3da-433a-ada9-24f11b6cd0c6    3
ffbd8da9-bf61-47d1-b2f6-02f414c93681    1
ffdc07b0-60ca-4834-9f64-249d81cde5c2    3
fff97c18-ab83-4cea-a7a2-604a3bf0362a    2
Name: KC(Default), Length: 5085, dtype: int64

In [116]:
dfr['correct']=dfr['correct']*1
dfr=dfr[~dfr.correct.isna()]

In [117]:
dfr_=dfr[dfr.goal_id=='ffa158f6-17d6-4919-ae9a-544f7029114d'][['KC(Default)', 'user_id','interaction_end_time', 'Problem Name', 'correct']].reset_index(drop=True)

In [118]:
dfr_=dfr_.sort_values(['user_id','KC(Default)','interaction_end_time'])

In [119]:
dfr_.shape

(1087, 5)

In [120]:
dfr_2=pd.DataFrame(dfr_.groupby(['KC(Default)','Problem Name','user_id']).apply(lambda x: x['correct'].values.tolist())).reset_index().rename(columns={0:'correct'})

In [121]:
dfr_2['Corrects']=dfr_2.correct.apply(lambda x: x[1] if len(x)>1 else x[0])

In [122]:
dfr_2['Correct First Attempt']= dfr_2.correct.apply(lambda x: x[0] )

In [123]:
dfr_3=dfr_2.drop('correct',axis=1)

In [127]:
dfr_3.to_csv('bkt_data.csv')

In [128]:
dfr_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   KC(Default)            1046 non-null   object
 1   Problem Name           1046 non-null   object
 2   user_id                1046 non-null   object
 3   Corrects               1046 non-null   int64
 4   Correct First Attempt  1046 non-null   int64
dtypes: int64(2), object(3)
memory usage: 41.0+ KB

AttributeError: 'DataFrame' object has no attribute 'manual_param_init'